{% extends 'base.html' %}
{% block title %}
Forgot Password
{% endblock  %}
{% block content %}
 <!-- Breadcrumb Begin -->
 <div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                  <span>Forgot Password</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->
<!-- ============================ COMPONENT LOGIN   ================================= !-->
<div class="card mx-auto" style="max-width: 500px; margin-top:10px;">
  <div class="card-body">
  <h4 class="card-title mb-3">Forgot Password</h4>
  {% include 'includes/alert.html' %}  
  <form action="{% url 'forgot_password' %}" method="POST">
    {% csrf_token %}
      <div class="form-group">
   <input type="email" class="form-control" placeholder="Email Address" name="email">
      </div> <!-- form-group// -->
      <div class="form-group float-right">
        You Got Password?<a href="{% url 'login' %}" class="float-right mb-2">Login</a> 
      </div> <!-- form-group form-check .// -->
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div> <!-- form-group// -->    
  </form>
  </div> <!-- card-body.// -->
</div> <!-- card .// -->

 <p class="text-center mt-2">Don't have account? <a href="{% url 'register' %}">Regiter</a></p>
 <br><br>
</section>
{% endblock  %}