{% extends 'my_admin/admin_base.html' %}

{% load static %}

{% block content %}



    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
                    <li class="breadcrumb-item text-sm text-white active" aria-current="page">Banners</li>
                </ol>
                <h6 class="font-weight-bolder text-white mb-0">Add Banner</h6>
            </nav>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Add Banner</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <table class="table align-items-center mb-0">
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-4">Banner
                                            </th>
                                        <td class="pe-4 pl-4">
                                            <input type="file" name="banner" class="form-control" required>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="px-4">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </th>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  


{% endblock content %}