{% extends 'my_admin/admin_base.html' %}

{% load static %}

{% block content %}

<link href="{% static '/admin/css/pagination.css' %}" rel="stylesheet" />
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->


    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
              <li class="breadcrumb-item text-sm text-white active" aria-current="page">Sales Report</li>
            </ol>
            <h6 class="font-weight-bolder text-white mb-0">Sales Report</h6>
          </nav>
        </div>
    </nav>
    <!-- End Navbar -->

      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                <h6>Sales Report Management</h6>
                <div class="d-flex justify-content-between">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Monthly Report
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="{% url 'sales_monthly' 1 %}">January</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 2 %}">February</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 3 %}">March</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 4 %}">April</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 5 %}">May</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 6 %}">June</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 7 %}">July</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 8 %}">August</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 9 %}">September</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 10 %}">October</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 11 %}">November</a>
                            <a class="dropdown-item" href="{% url 'sales_monthly' 12 %}">December</a>
                        </div>
                    </div> 
                    <div>
                        <a href="{% url 'sales_csv' %}"><i class="fa fa-file-csv fa-lg text-success"></i></a>
                    </div>

                    <div>
                        <form action="{% url 'sales_date' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center">
                                        <label for="from" class="me-2">From:</label>
                                        <input type="date" name="from" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center">
                                        <label for="to" class="me-2">To:</label>
                                        <input type="date" name="to" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <input type="submit" class="btn btn-primary">
                                </div> 
                            </div>
                        </form>                        
                    </div>

                    <div>
                        <a href="{% url 'sales_xls' %}"><i class="far fa-file-pdf fa-lg text-danger"></i></i></a>
                    </div>

                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Yearly Report
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <a class="dropdown-item" href="{% url 'sales_yearly' 2023 %}">2023</a>
                            <a class="dropdown-item" href="{% url 'sales_yearly' 2022 %}">2022</a>
                            <a class="dropdown-item" href="{% url 'sales_yearly' 2021 %}">2021</a>
                            <a class="dropdown-item" href="{% url 'sales_yearly' 2020 %}">2020</a>
                            <a class="dropdown-item" href="{% url 'sales_yearly' 2019 %}">2019</a>
                            <a class="dropdown-item" href="{% url 'sales_yearly' 2018 %}">2018</a>
                        </div>
                    </div> 
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0 table-hover">
                            <thead>
                                <tr>   
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-4">SI.No</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Order ID</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Customer</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Order Total</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Payment Mode</th>
                                    <!-- <th class="text-uppercase text-secondary text-xs font-weight-bolder  ps-2">Date </th> -->
                        
                                </tr>
                            </thead>
                            <tbody>
                                {% if orders %}
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <h6 class="ps-4 mb-0 text-sm font-weight-bold "> {{ forloop.counter }} </h6>
                                    </td>
                                    <td>
                                        <h6 class="mb-0 text-sm font-weight-bold "> {{ order.order_number }} </h6>
                                    </td>
                                    <td class="text-sm">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm font-weight-bold ">{{order.first_name|capfirst}}</h6>
                                        </div>
                                    </td>
                                    <td class="text-sm">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm font-weight-bold ">{{order.order_total}}</h6>
                                        </div>
                                    </td>
                                    <td class="text-sm">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm font-weight-bold ">{{order.payment.payment_method}}</h6>
                                        </div>
                                    </td>
                                    <!-- <td class="text-sm">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm font-weight-bold ">{{order.created_at}}</h6>
                                        </div>
                                    </td> -->
                                </tr>
                                {% endfor %}
                                {% else %}
                                <div>
                                    <tr>
                                        <td colspan="12" class="text-center"> <h4>No Orders</h4> </td>
                                    </tr>
                                </div>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
          </div>
        </div>

    <nav class="mt-3" aria-label="Page navigation sample">
        {% if orders.has_other_pages%}
        <ul class="pagination list-inline d-flex justify-content-center">
            {%if orders.has_previous %} {# whether the previous page exists #}
                <li class="page-item"><a class="page-link prev" href="?page={{orders.previous_page_number}}"><i class="fas fa-backward"></i></a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link prevd" href="#"><i class="fas fa-backward"></i></a></li>
            {% endif %}

            {% for i in orders.paginator.page_range %}
                {% if orders.number == i %}
            <li class="page-item"><a class="page-link current" href="#">{{i}}</a></li>
                {% else %}
            <li class="page-item"><a class="page-link other" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {%if orders.has_next %} {# whether the next page exists #}
                <li class="page-item"><a class="page-link next" href="?page={{orders.next_page_number}}"><i class="fas fa-forward"></i></a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link nextd" href="#"><i class="fas fa-forward"></i></a></li>
            {% endif %}
        </ul>
        {% else %}
        <div></div>
        {% endif %}
    </nav>
   
  


{% endblock content %}