 {% load static %}
 <!-- Offcanvas Menu Begin -->
 <div class="offcanvas-menu-overlay"></div>
 <div class="offcanvas-menu-wrapper">
     <div class="offcanvas__close">+</div>
     <ul class="offcanvas__widget">
         <li><span class="icon_search search-switch"></span></li>
         <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
            <div class="tip wishdata">{{wishCount}}</div>
         </a></li>
         <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
             <div class="tip cartdata">{{cartCount}}</div>
         </a></li>
     </ul>
     <div class="offcanvas__logo">
         <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
     </div>
     <div id="mobile-menu-wrap"></div>
     <div class="offcanvas__auth">
        {% if request.user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Welcome {{request.user.username}}</a>
         <a href="{% url 'logout' %}">Logout</a>
        {% else %}
         <a href="{% url 'login' %}">Login</a>
         <a href="{% url 'register' %}">Register</a>
        {% endif %}
     </div> 
 </div>
 <!-- Offcanvas Menu End -->

 <!-- Header Section Begin -->
 <header class="header">
     <div class="container-fluid">
         <div class="row">
             <div class="col-xl-3 col-lg-2">
                 <div class="header__logo">
                     <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                 </div>
             </div>
             <div class="col-xl-4 col-lg-5">
                 <nav class="header__menu">
                     <ul>
                         <li class="{% if '/' == request.path %} active {% endif %}"><a href="{% url 'home' %}">HOME</a></li>
                         <li class="{% if '/store/' == request.path %} active {% endif %}"><a href="{% url 'store' %}">STORE</a></li>
                         <li class="{% if '/store/products/' in request.path %}active{% endif %}"><a href="#">CATEGORIES</a>
                            <ul class="dropdown">
                                {% for category in categories %}
                                <li><a href="{{ category.get_url }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                          </li>
                     </ul>
                 </nav>
             </div>
             <div class="col-lg-5">
                 <div class="header__right">
                     <div class="header__right__auth">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'dashboard' %}">Welcome {{request.user.username}}</a>
                         <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                         <a href="{% url 'login' %}">Login</a>
                         <a href="{% url 'register' %}">Register</a>
                        {% endif %}
                     </div>
                     <ul class="header__right__widget">
                         <li><span class="icon_search search-switch"></span></li>
                         <li><a href="{% url 'wishlist' %}"><span class="icon_heart_alt"></span>
                            <div class="tip wishdata">{{wishCount}}</div>
                         </a></li>
                         <li><a href="{% url 'cart' %}"><span class="icon_bag_alt"></span>
                             <div class="tip cartdata">{{cartCount}}</div>
                         </a></li>
                     </ul>
                 </div>
             </div>
         </div>
         <div class="canvas__open">
             <i class="fa fa-bars"></i>
         </div>
     </div>
 </header>
 <!-- Header Section End -->