{% extends 'base.html' %}
{% load static %}
{% block title  %}Order Complete{% endblock  %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'store' %}">Store</a>
                        <span>Order Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <div class="container" style="margin-top: 2px;">
        <div class="text-center">
        <i class="fa fa-check-circle" style="font-size: 72px;margin-bottom: 2px;color: #28A745;"></i>
        </div>
        <h2 class="text-center">Payment Successful</h2>
        <br>
        <div class="text-center mb-2">
            <button onclick="Convert_HTML_To_PDF();" class="btn btn-primary text-capitalize border-0">Download Invoice</button>
        </div>
    </div>

    <div id="makepdf">
        <div class="container-fluid bg-light py-2">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-center mb-2">
                                        <img src="{% static '/img/logo.png' %}" alt="Invoice logo" class="img-fluid" style="max-height: 40px;">
                                    </div>
                                    <div class="text-center">
                                        <h5 class="font-weight-bold mb-2">Invoiced To</h5>
                                        <p class="mb-0">{{order.full_name}}</p>
                                        <p class="mb-0">{{order.full_address}} - {{order.pincode}}</p>
                                        <p class="mb-0">{{order.city}}, {{order.state}}, {{order.country}}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex justify-content-center mb-2">
                                        <div class="well">
                                            <ul class="list-unstyled mb-0">
                                                <li><strong>Order Number: </strong>#{{order.order_number}}</li>
                                                <li><strong>Transaction Id: </strong>#{{transID}}</li>
                                                <li><strong>Order Date: </strong>{{order.created_at}}</li>
                                                <li><strong>Status: </strong>{{payment.status}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Qty</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in ordered_products %}
                                        <tr>
                                            <td class="text-nowrap">
                                                {{i.product.name}}
                                                <p class="small">
                                                    {% if i.variations.all %}
                                                    {% for item in i.variations.all %}
                                                    Size: {{item.size}}&nbsp;&nbsp;
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </td>
                                            <td class="text-center">{{i.quantity}}</td>
                                            <td class="text-center text-nowrap">${{i.sub_total}} USD</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" class="text-right">Sub Total:</th>
                                            <th class="text-center text-nowrap">${{subtotal}} USD</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">Discount:</th>
                                            <th class="text-center text-nowrap">${{disc}} USD</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-right">Grand Total:</th>
                                            <th class="text-center">${{order.order_total}} USD</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="text-center mt-2">
                            <p class="mb-0">Thank you for shopping with us!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  



    <script>
        window.jsPDF = window.jspdf.jsPDF;

        // Convert HTML content to PDF
        function Convert_HTML_To_PDF() {
            var doc = new jsPDF();
            
            // Source HTMLElement or a string containing HTML.
            var elementHTML = document.querySelector("#makepdf");

            doc.html(elementHTML, {
            callback: function(doc) {
                // Save the PDF
                doc.save('Invoice.pdf');
            },
            margin: [20, 0, 10, 10],
            autoPaging: 'text',
            x: 0,
            y: 0,
            width: 190, //target width in the PDF document
            windowWidth: 950, //window width in CSS pixels
            });
        }
    </script>
{% endblock  %}